<h1>Find My Order</h1>

<p><%= form_tag order_path(:id), method: :get do %>    
    <%= select_tag(:id, options_for_select((1..Order.last.id)))%>
    <%= submit_tag "Find My Order" %>
    <% end %></p>