<h1>Find My Order</h1>

<p><%= form_tag search_order_path, method: :get do %>    
    <%= label_tag "Please enter order id:"%>
    <%= number_field_tag(:id)%>
    <%= submit_tag "Find My Order" %>
    <% end %></p>