<body>

  <section class="pagelist">
    <h1>Merchants</h1>
      <% @all_merchants.each do |merchant|  %>
        <li>
          <%= link_to merchant.name, merchant_path(merchant) %>
        </li>
      <% end %>
  </section>

</body>