<body>

  <section class="pagelist">
   <h1>Merchants:</h1>
   <ul class="merchants-list">
   <% @all_merchants.each do |merchant|  %>
   <li>
      <button type="button" class="btn btn-light merchant-button">
          <%= link_to merchant.name, merchant_path(merchant) %>
      </button>
      </li>
      <% end %>
    </ul>
  </section>

</body>