// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .row {
//   margin-top: 20px;
// }

// .col {
//   border: solid 1px #6c757d;
//   padding: 10px;
// }

.slidescss{
  background-size: 1920px 1080px;
  width:100%;
  min-height: 600px;
}

.h1_title {
  text-align: center;
  padding: 20px;
  font-size: 500%
}

.homepage_description {
  text-align: center;
  line-height: 2;
  padding: 30px;
  font-size: 27px
}

// .featured {
//   text-align: center;
//   text-decoration: fade-in($color: #000000, $amount: 0)
// }

.card-deck {
  padding: 15px
}

.btn-secondary{
  margin: 1rem;
}

.baguette{
  margin: 2rem;
}

.product-details{
  margin-top: 2rem;
}

.col {
  margin-left: 1rem;
  margin-right: 1rem;
}

.review {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin: 1rem;
}

.bg {
  background-color: whitesmoke
}

.featured {
  text-align: center;
  padding: 50px 0px 0px 0px
}

h4 {
  text-decoration: underline;
  font-family: 'Annie Use Your Telescope', cursive;
  text-align: center;
  font-size: 200%
}

.link a:visited {
  color: #614936
}

