<body>
  <section class="newproduct">
    
    <%= form_with model: @category, method: :post do |f| %>
      <p class="form-group">Please provide the following information to add a category. Must be a bread pun. </p>

      <div class="form-group">
        <%= f.label :name, "Category Name:" %>
        <%= f.text_field :name %>
      </div>
      <div class="form-group">
        <%= f.submit "Create Category", class: "btn btn-light" %>
      </div>
    <% end %>

  </section>

</body>
