<body>

  <h2><%= @category.name %></h2>

  <section class="pagelist">
    <h1>Products:</h1>
    <% @category.products.each do |product| %>
      <li>
        <%= link_to product.name, product_path(product) %>
      </li>
    <% end %>
  </section>

</body>
