<%# 
<body> 


<div class="parallax" style="height:800px;background-color:black;font-size:36px">
<p> Baguettesy</p>
</div>
  <p> Baguettesy started with some flour and a dream. Today, we're filling the hearts and stomachs of bread lovers all over the Pacific Northwest." </p>

<div class="parallax" style="height:800px;background-color:black;font-size:36px">
</div>

<p> Baguette serious with our bread subscription, pick yourself up some bread loafers, or baguette started with some customer favorites! </p>
</body> %>



